@using Hallam.RedditRankedFlairs.Models

<div id="register-modal" class="modal modal-fade-in" ng-controller="RegisterController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h3>Register Summoner</h3>
        </div>
        <div class="modal-body">
            <div class="modal-stage" ng-class="{'slide-left': code}">
                <p>This dialog will allow you to link your summoner to your Reddit account.</p>
                <p>Linking your summoner will allow you to display flairs on qualifying sub reddits.</p>
                <form>
                    <input type="text" placeholder="Summoner name" ng-model="summonerName" ng-disabled="busy">
                    <select ng-model="region" ng-disabled="busy">
                        @foreach (string r in SummonerModel.AllRegions)
                        {
                            <option value="@r">@r</option>}
                    </select>
                </form>
            </div>
            <div class="modal-stage">
                <p>
                    <strong>Almost done!</strong>
                </p>
                <p>
                    Validate your summoner by changing a <em>rune page</em> to the code:
                </p>
                <blockquote>
                    {{code}}
                </blockquote>
            </div>
        </div>
        <div class="modal-foot">
            <span class="status" ng-class="{'status-error': status.error}">{{status.message}}</span>
            <button type="submit" ng-disabled="busy || !(summonerName && region)" ng-click="confirm()">
                <i class="fa" ng-class="{true: 'fa-spin fa-spinner', false: 'fa-check'}[busy]"></i> {{busy ? 'Please wait...' : 'Continue'}}
            </button>
        </div>
    </div>
</div>