@{
    Layout = "~/Views/_master.cshtml";
    Page.Title = "Profile";
    Page.Angular = "Profile";
}

@section head {
    <link rel="stylesheet" href="~/Content/css/profile.less">
    <script>window.app = angular.module('Profile', []);</script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/angular-services.js"></script>
    <script src="~/Content/js/profile.js"></script>
}

<div class="row text-center">
    <h2>Profile for /u/@User.Identity.Name</h2>
</div>

@{ Html.RenderPartial("_summoners"); }