@{
    Layout = "~/Views/_master.cshtml";
}
@section head {
    <link rel="stylesheet" href="~/Content/css/about.less">
}

<h2>
    What is this?
</h2>

<p>
    This website is a service which allows you to sport a user flair on qualifying sub-Reddits which indicates your current ranked tier and division.
</p>

<h2>
    Who is responsible for this?
</h2>

<p>
    <a href="https://www.reddit.com/user/kivinkujata/">/u/Kivinkujata</a> made this site.
</p>

<h2>
    Do we really need this?
</h2>

<blockquote>
    <p>
        It has been asked for for a long time from a lot of people. We used to have flair that anyone
        could set and used it successfully for a long time, but the system was abused.
    </p>
    <p>
        People would set their flair to whatever they wanted and nobody could prove anything. People were
        setting their flair to links to bot websites or hacks. The sub had grown too big for us to police
        flairs properly.
    </p>
    <p>
        We brought this back to some degree with the <em>Diamond Flairs</em> and the <em>Ask a Diamond</em>
        thread - but ran into issues here as well. The amount of work on the mod team was unsustainable
        even for only diamond and higher players, and we had cases of other players linking to the same
        Diamond players verification rune page. We scrapped that too.
    </p>
    <p>
        This will let you tell easily and with certainy that someone is a certain rank. That is it. It doesn't
        make everything a diamond player says true, just as it doesn't make everything a silver player says
        false.
    </p>
    <small><a href="https://www.reddit.com/user/rsjac">/u/rsjac</a></small>
</blockquote>

<h2>But I don't want to set my flair!</h2>

<blockquote>
    <p>
        Fine by us, don't. There is nothing that says you have to anywhere. This is an opt-in process, so only
        do it if you want to.
    </p>
    <p>
        ANY form of abuse as a result of this needs to be reported to the
        <a href="https://www.reddit.com/message/compose?to=%2Fr%2Fsummonerschool&subject=&message=">moderator team.</a>
    </p>
    <p>
        Any comments along the lines of <q>Y don't u have rank flair? bet u r bronze scrub</q> will be remoted and
        the user will be warned/temp banned as needed.
    </p>
    <small><a href="https://www.reddit.com/user/rsjac">/u/rsjac</a></small>
</blockquote>

<h2>Is it secure?</h2>

<p>
    The flair service was written with your security in mind. It neither stores, nor acquires access to any of your
    personally identifying information. Linkage to Reddit and Riot occur through secure, publicly accessible APIs --
    the same ones used by most Reddit bots (like AutoModerator) and League fansites (like LolKing).
</p>

<p>
    Source Code will soon be available via my GitHub. You're encouraged to branch and make changes. If you find an issue,
    report it. Of course, you can always fix it yourself - please send a pull request.
</p>

<h2>I moderate a Sub Reddit... How do I get flairs enabled?</h2>

<p>
    Add <a href="https://www.reddit.com/user/feralflair">/u/FeralFlair</a> to the moderator list for your sub. Make sure
    he has the <q>Flair</q> permission, and nothing else (for your own security.) Send
    <a href="https://www.reddit.com/user/kivinkujata">/u/Kivinkujata</a> a message to let me know, and I'll enable flairs
    for your sub. That's it!
</p>

<div style="height: 60px"></div>