
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
<div>
    <a href="~/login">Login</a>
</div>
</body>
</html>
