@{
    Layout = "~/Views/_master.cshtml";
}

<div class="row text-center">
    <h2>Authentication Required</h2>
</div>

<div class="row">
    <p>Please sign in using your Reddit account to continue.</p>
    <form action="/login" method="get">
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign In</button>
    </form>
</div>