<!DOCTYPE html>
@{
    Page.DebugMode = Context.IsDebuggingEnabled;
    var ngApp = new MvcHtmlString(Page.AngularApp != null ? $"ng-app=\"{Page.AngularApp}\"" : "");
    var ngController = new MvcHtmlString(Page.AngularApp != null ? "ng-controller=\"MainController\"" : "");
}

<html lang="en" @ngApp>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <title>@(Page.Title ?? "Reddit Ranked Flairs")</title>

    <link rel="stylesheet" href="~/Content/Styles/normalize.less">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Styles/site.less">

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/angular@(Page.DebugMode ? "" : ".min").js"></script>
    <script src="~/Content/js/angular-resource@(Page.DebugMode ? "" : ".min").js"></script>

    @RenderSection("head", false)
</head>
<body @ngController>
    <div class="container">
        <header>
            <div class="brand">
                <h1>Reddit Ranked Flairs</h1>
            </div>

            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="~/">Manage Profile</a></li>
                        <li><a href="~/about">About</a></li>
                        @*
                        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                        {
                            <li><a href="~/admin">Admin</a></li>
                        }*@
                    </ul>
                </nav>
            </div>
        </header>
        <div class="main" role="main">
            @RenderBody()
        </div>
        <footer>
            <div class="disclaimer">
                Reddit Ranked Flairs isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &#169; Riot Games, Inc.
            </div>
        </footer>
    </div>
</body>
</html>
