<div class="panel" id="eventlog-panel" ng-class="{'panel-hidden': panel.name != 'eventlog'}"
     ng-controller="EventLogController">
    <div class="panel-header">
        <h2>Event Log</h2>
    </div>

    <div class="row">
        <span ng-show="entries">{{ total }} log entries.</span>
    </div>

    <div class="row">
        <table class="table" style="width: 700px;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th style="width: 85%">Event</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in entries">
                    <td>{{entry.id}}</td>
                    <td>{{entry.typeid}} {{entry.param1}} {{entry.param2}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-show="busy">
                    <td colspan="2">
                        <i class="fa fa-spin fa-spinner"></i> Requesting...
                    </td>
                </tr>
                <tr ng-show="!entries.length">
                    <td colspan="2">
                        No entries to display.
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
