<!DOCTYPE html>

<html lang="en" ng-app="Admin">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Admin Panel - Reddit Ranked Flairs</title>

        <link rel="stylesheet" href="~/Content/Styles/normalize.less">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/Content/Styles/modal.less">
        <link rel="stylesheet" href="~/Content/Styles/admin.less">
        

        <script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/js/angular.js"></script>
        <script src="~/Content/js/angular-resource.js"></script>

        <script src="~/Content/js/modal.js"></script>
        <script src="~/Content/js/admin.js"></script>
        <script src="~/Content/js/admin/subscriptions.js"></script>
        <script src="~/Content/js/admin/eventlog.js"></script>
    </head>
    <body ng-controller="MainController">
        <header>
            <div class="brand">
                <h1>
                    <a href="#">
                        <i class="fa fa-industry"></i> Flair AdminPanel
                    </a>
                </h1>
            </div>

            <div class="toolbar">
                <ul>
                    <li class="msg-admin">
                        <a href="#" title="Message the Admin" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li class="task-scheduler">
                        <a href="#" title="Go to Task Scheduler" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-tasks"></i>
                        </a>
                    </li>
                    <li class="profile">
                        <a href="#" title="Go to Profile" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-user"></i> @User.Identity.Name
                        </a>
                    </li>
                </ul>
            </div>

            <div class="notify" ng-controller="NotifyController"
                 ng-class="{'notify-hidden': !message, 'notify-success': type == 'success', 'notify-error': type == 'error', 'notify-alert': type != 'success' && type != 'error'}"
                 ng-click="close()">
                <div class="notify-backdrop">
                    <i class="fa" ng-class="{'fa-check': type == 'success', 'fa-exclamation-circle': type == 'error', 'fa-exclamation': type == 'alert'}"></i>
                </div>
                <i class="fa fa-spin fa-spinner" ng-show="type == 'waiting'"></i> {{message}}
            </div>
        </header>

        <div class="sidebar">
            <ul>
                <li>
                    <a href="#/eventlog">
                        <i class="fa fa-list"></i> Event Log
                    </a>
                </li>
                <li>
                    <a href="#/subscriptions">
                        <i class="fa fa-heartbeat"></i> Manage Subscriptions
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="breadcrumb">
                <ul>
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-show="false">
                            {{ panel.title }}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="panel-content">
                @{Html.RenderPartial("_eventlog");}
                @{Html.RenderPartial("_subscriptions");}
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html>