@import "vars.less";

.notify {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .25s ease-in;
}

.notify-hidden {
    transform: scaleY(0);
}

.controls {
    margin-bottom: 20px;
}

tbody tr {
    cursor: pointer;
}

tfoot td {
    padding: 10px 0 0 10px;
}

.error {
    text-shadow: 0 0 1px rgba(255,0,0,.25);
}

.row {
    margin-top: 10px;
}

.modal {
    background-color: rgba(0,0,0,0.88);
    max-width: 440px;
    padding: 25px;

    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        color: white;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 white;
    }
}

.modal-content {
    position: absolute;
}

.modal-header {
    h3 {
        font-size: 28px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        
    }
}

.modal-body {
    height: 186px;
    overflow-x: hidden;
    padding: 10px 0;
    white-space: nowrap;
    width: 440px;

    blockquote {
        font-size: 2em;
        padding-top: 30px;
        text-align: center;
    }

    em {
        color: @button-background-color;
        font-style: normal;
        font-weight: 600;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
        white-space: normal;
    }

    strong {
        font-size: 1.2em;
    }

    input[type="text"] {
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        color: black;
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 6px;
        width: 100%;
    }

    select {
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;
        color: black;
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 5px;
        width: 100%;
    }
}

.modal-stage {
    display: inline-block;
    height: 186px;
    width: 440px;
    vertical-align: top;
    &.slide-left {
        margin-left: -440px;
        transition: margin-left .222s linear;
    }
}

.modal-foot {
    text-align: right;
    .status {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding-right: 5px;
    }
    .status.error {
        color: red;
    }
}